<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>Account page to <%= title %></p>
    <% if(!isAuthenticated) { %>
        <a href="/login">Log in here</a>
    <% } else { %>
        Hello, <%= user.name %>
    <% } %>
</body>
</html>
