
<div ng-controller="SimpleController" class="contatiner">
    <h1>view2</h1>
    Name: <input type="text" ng-model="name"/> {{ name | uppercase }}
    <ul>
        <li ng-repeat="person in people | filter:name | orderBy:'name'">{{ person.name }} - {{ person.city }}</li>
    </ul>

    <br/>
    Customer name:<br/>
    <input type="text" ng-model="newCustomer.name"/>
    <br/>
    Customer name:<br/>
    <input type="text" ng-model="newCustomer.city"/>
    <br/>
    <button ng-click="addCustomer()">Add cutomer</button>
</div>